# Exclude Visual Studio temporary files and build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Dd]ebug*/
[Rr]elease*/
x64/
x86/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
VulkanHelloWorld/Libraries/
glfw-3.4.bin.WIN64/
project/